
@media (min-width: 768px){
    .number-box {
        margin: 0.2em;
        border: 3px solid #6b6b6b;
        border-right-color: transparent;
        position: relative;
    }

    .number-box::before {
        content: '';
        position: absolute;
        top: 13.5%;
        left: -4px;
        width: 6px;
        height: 73%;
        background-color: #232323;
    }

    .number-box::after {
        content: '•';
        position: absolute;
        top: 32%;
        left: -4px;
        width: 3px;
        height: 0;
        color: #b0b0b0;
    }
}

@media (min-width: 950px){
    .number-box {
        margin: 0.2em;
        border: 3px solid #6b6b6b;
        border-right-color: transparent;
        position: relative;
    }

    .number-box::before {
        content: '';
        position: absolute;
        top: 13.5%;
        left: -4px;
        width: 6px;
        height: 73%;
        background-color: #232323;
    }

    .number-box::after {
        content: '•';
        position: absolute;
        top: 35%;
        left: -4px;
        width: 3px;
        height: 0;
        color: #b0b0b0;
    }
}

@media (min-width: 1200px){
    .number-box {
        margin: 0.2em;
        border: 3px solid #6b6b6b;
        border-right-color: transparent;
        position: relative;
    }

    .number-box::before {
        content: '';
        position: absolute;
        top: 13.5%;
        left: -4px;
        width: 6px;
        height: 73%;
        background-color: #232323;
    }

    .number-box::after {
        content: '•';
        position: absolute;
        top: 3.9vw;
        left: -4px;
        width: 3px;
        height: 0;
        color: #b0b0b0;
    }
}

@media (min-width: 1536px){
    .number-box {
        margin: 0.2em;
        border: 3px solid #6b6b6b;
        border-right-color: transparent;
        position: relative;
    }

    .number-box::before {
        content: '';
        position: absolute;
        top: 13.5%;
        left: -4px;
        width: 6px;
        height: 73%;
        background-color: #232323;
    }

    .number-box::after {
        content: '•';
        position: absolute;
        top: 3.5vw;
        left: -4px;
        width: 3px;
        height: 0;
        color: #b0b0b0;
    }
}

@media (min-width: 2241px){
    .number-box {
        margin: 0.2em;
        border: 0.15vw solid #6b6b6b;
        border-right-color: transparent;
        position: relative;
    }

    .number-box::before {
        content: '';
        position: absolute;
        top: 13.5%;
        left: -7px;
        width: 0.6vw;
        height: 73%;
        background-color: #232323;
    }

    .number-box::after {
        content: '';
        position: absolute;
        top: 47%;
        left: -4px;
        border-radius: 100%;
        width: 0.2vw;
        height: 0.2vw;
        background-color: #b0b0b0;
        color: #b0b0b0;
    }
}
